.archive-post-link {
  @include unset-link-underline();
  color: inherit;
  display: block;
  max-width: 100%;
  text-decoration: none;

  @include hover-focus-active {
    color: inherit;

    .archive-post-title {
      text-decoration: underline;
    }
  }
}

.archive-post-title {
  font-size: 1.4em;
}

.archive-post-date {
  color: $brand-default-aw;
  font-size: .85rem;
}
